.na {
  max-width: 375px;
}

.menu {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.bar,
.bar__ {
  width: 35px;
  height: 4px;
  background-color: red;
  margin: 4px 0;
  /* transition: 0.4s; */
  margin-left: 20px;
}

.bar_ {
  width: 45px;
  height: 4px;
  background-color: red;
  margin: 6px 0;
  /* transition: 0.4s; */
  margin-left: 20px;
}

/* .cart {
  margin-left: 310px; 

} */
